.ant-card-body {
  padding: 5px !important;
}

.statisticsTop {
  height: 180px;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;

  .ant-card {
    width: 24%;
    margin: 0 20px;
    max-width: 261px;
  }

  .SkeletonTop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
  }
}

.statisticsMiddle {
  height: 110px;
  display: flex;
  margin-bottom: 20px;

  justify-content: center;

  .statisticsMiddleBox {
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
  }

  .ant-card {
    width: 110px;
    margin: 0 20px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .SkeletonMiddle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 96px;
    width: 100px;
  }
}

.statisticsBottom {
  /*595 387*/
  height: 305px;
  display: flex;
  justify-content: center;


  .statisticsBottomBox {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

    .ant-card {
      width: 560px;

      &:first-child {
        margin-right: 20px;
      }
    }

    .SkeletonNode {
      width: 450px;
      height: 200px;
      margin-top: 20px;
    }

    .skeletonChart {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .Skeleton-btm-top {
    display: flex;
    justify-content: space-between;
  }
}

.statisticsBottom-right {
  width: 48%;

  .ant-card {
    width: 100%;
    height: 142.5px;

    &:first-child {
      margin-bottom: 20px;
    }
  }

  .statisticsBottom-right-btm {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .right-btm-box-item {
      width: 120px;
      height: 90px;
      margin-top: 10px;
      border: 1px solid #f2f2f2;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }
}
